body, html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  background-color: #98c2e4;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--dark-color);

body {
  
  color: rgb(0, 0, 0); 
    }
}

.parallax-container {
  height: 100%;
  padding: 0;

}

.parallax {
  /* The image used */
  background-image: url("/images/wave.jpg");
  opacity: 0.5;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wave {
position: relative;
opacity: 0.65;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url("/images/beach2.jpg");
  /* opacity: 0.5; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wave1 {
position: relative;
opacity: 0.65;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.sand {
  background-image: url("/images/sand.jpg");
  min-height: 400px;
}
.sand {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .beach1 {
    background-image: url("/images/beach1.jpg");
    min-height: 400px;
  }
  .beach1 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .beach2 {
      background-image: url("/images/beach2.jpg");
      min-height: 400px;
    }
    .beach2 {
      position: relative;
      opacity: 0.65;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }

      .beach {
        background-image: url("/images/beach.jpg");
        min-height: 400px;
      }
      .beach {
        position: relative;
        opacity: 0.65;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }


  

  div {
    display: block;
  }
  
  .caption {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    transform: translate(-50%, 0%);
    color: rgb(255, 255, 255);
}

.c-container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
  background-color: #e99b9b;
  width: 20%;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.title {
  background-color: #e99b9b;
  color: #fff;
  padding: 40px;
  font-size: 25px;
  letter-spacing: 10px;
}

.button {
  display: flex;
  background-color: #e99b9b;
  width: 10em;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: var(--main-color);
  font-size: 1em;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  text-align: center;

}





#showcase #speech-bubble {
  background-color: var(--white-color);
  padding: 30px;
  max-width: 40%;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  position: relative;

}

.white-box {
color: #777;
background-color: white;
text-align: center;
padding: 50px 80px;
text-align: justify;
}


header {
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
}

#portfolio {
  display: flex;
  flex-direction: column;
  padding: 55px;
  margin: 30px auto;
  background-color: var(--white-color);
}

.container-p-box {
  
  background-color: #f1f1f1;
  padding: 55px;
  margin: 30px auto;

}


.project-image {
  height: 400px;
  width: auto;
  display:block
}


.project {
  display: flex;
  margin-bottom: 80px;
  background-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
}

#sidebar {
  float: right;			
}


h1 {
  margin-top: 0px;
  margin-bottom: 16px;
  padding: 10px;
  text-align: right;
  font-size: 60px;
  font-family: Recoleta, sans-serif;
  font-weight: 400;
}

::selection {
  background: #50959e;
  color: #fdf8f5;
}

h2 {
  font-size: 17px;
  text-align: center;
}

nav {
  background-color: #98c2e4;
  font-size: 20px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

/* Links inside the navbar */
nav a {
  float: left;
  display: block;
  color: #6b705c;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}



/* Change background on mouse-over */
a:hover {
  color: #bae3f3;
  background-color: #437796;
}

div {
  padding: 10px;
}

img {
  width: 50%;
  height: 60vh;
  object-fit: cover;
  object-position: bottom;
}
footer {
  text-align: center;
  height: fit-content;
  padding: 10px;
  font-weight: 400;
  color: #6e6a6a;
  
}

.about {
  font-size: larger;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
.heading {
  font-size: x-large;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}


.footer-addition {
  background-color: #ffffff;
  padding: 10px;
  font-size: medium;
  color: #ad6868;

  
  
}
nav a {
  display: inline-block;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex-container {
  display: flex;
  background-color: #98c2e4
  
}

.profile-image {
  display: flex;
  align-content: center;
  width: 30%;
  height: 30%;
}

.committe-image {
  display: flex;
  align-content: center;
  width: 25%;
  height: 25%;
}

.profile-image:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.committe-image:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.profile-text {
  color: #f2f2f2;
  padding: 10px;
  margin: 15px 15px;
  text-align: center;
  font-weight: lighter;
  text-overflow: ellipsis;
  font-size: x-large;
}
#more {
  display: none;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  
}

.fa-github {
  background: #3f3f3f;
  color: white;
}




.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



header {
  border-bottom: 2px solid #f7f3e2;
  text-align: center;
}

form {
  margin: 45px auto;
  padding: auto;
  width: 65%;
  background-color: #f1f1f1;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  
}

.form-item label {
  flex-basis: 150px;
  font-size: 22px;
  
}

.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px solid #fddc5c;
  
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #4d9faa;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: 2px solid #fddc5c;
  background-color: #fff;
  padding: 5px;
  font-size: 18px;
  col
}

.form-item button:hover {
  border: 2px solid #4d9faa;
  background-color: #4d9faa;
  color: #fff;
}

.form-item button {
  width: 100px;
  
}

.logo-container {
  display: flex;
  margin-top: 15px;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.25);
}

.p {
  font-size: 20px;
  font-family: Recoleta, sans-serif;
}

.h3 {
  font-size: 30px;
  font-family: Recoleta, sans-serif;

}
.h3-center {
  align-content: center;
}

.h1 {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  font-size: 50px;
  font-family: Recoleta, sans-serif;
}

.container {
  position: relative;
  max-width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}


 @media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display:flex}
  .nav a.icon {
    float: right;
    display: block;
  }
  
.border {
  background-color: transparent;
  width: 50%;
  color: rgb(255, 255, 255);
  padding: 18px;
  font-size:40px;
  text-align: center;
  letter-spacing: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}

.flex-container {
  display: flex;
  background-color: #98c2e4
  
}

.profile-image {
  display: flex;
  align-content: center;
  width: 50%;
  height: 50%;
  margin: 15px;
  padding: 10px;
}

.committe-image {
  display: flex;
  align-content: center;
  width: 25%;
  height: 25%;
}

div {
  display: block;
}


.profile-text {
  color: #f2f2f2;
  padding: 10px;
  margin: 15px 15px;
  text-align:left;
  font-weight: lighter;
  text-overflow: ellipsis;
  font-size: 16px;
}
#more {
  display: none;
}


form {
  margin: 45px auto;
  padding: auto;
  width: 90%;
  background-color: #f1f1f1;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  
}

.form-item label {
  flex-basis: 150px;
  font-size: 16px;
  
}

.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px solid #d8b2db;
  
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #d8b2db;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: 2px solid #d8b2db;
  background-color: #fff;
  padding: 5px;
  font-size: 16px;
  col
}

.form-item button:hover {
  border: 2px solid #4d9faa;
  background-color: #4d9faa;
  color: #fff;
}

.form-item button {
  width: 100px;
  
}


@media screen and (max-width: 600px) {

  
  
  .caption {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    transform: translate(-50%, 0%);
    color: rgb(255, 255, 255);
}

.c-container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
    background-color: transparent;
    width: 50%;
    color: #fff;
    padding: 18px;
    font-size:40px;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  }
  
.flex-container {
    display: flex;
    background-color: #98c2e4
    
  }
  
.profile-image {
    display: flex;
    align-content: center;
    width: 50%;
    height: 50%;
    margin: 15px;
    padding: 10px;
  }
  
.committe-image {
    display: flex;
    align-content: center;
    width: 25%;
    height: 25%;
  }
  
  div {
    display: block;
  }
  
  
.profile-text {
    color: #f2f2f2;
    padding: 10px;
    margin: 15px 15px;
    text-align:left;
    font-weight: lighter;
    text-overflow: ellipsis;
    font-size: 16px;
  }
  
#more {
    display: none;
  }
  
  